-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: javabeanscafe
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `compra_insumo`
--

DROP TABLE IF EXISTS `compra_insumo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `compra_insumo` (
  `ID_Compra` int NOT NULL AUTO_INCREMENT,
  `Codigo_Insumo` varchar(20) NOT NULL,
  `Cantidad` decimal(10,2) NOT NULL,
  `Total_Compra` decimal(10,2) NOT NULL,
  `Fecha_Compra` date NOT NULL,
  PRIMARY KEY (`ID_Compra`),
  KEY `Codigo_Insumo` (`Codigo_Insumo`),
  CONSTRAINT `compra_insumo_ibfk_1` FOREIGN KEY (`Codigo_Insumo`) REFERENCES `insumo` (`Codigo_Insumo`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compra_insumo`
--

LOCK TABLES `compra_insumo` WRITE;
/*!40000 ALTER TABLE `compra_insumo` DISABLE KEYS */;
INSERT INTO `compra_insumo` VALUES (1,'1212',10.00,50.00,'2026-08-12'),(2,'1214',10.00,80.00,'2026-08-12');
/*!40000 ALTER TABLE `compra_insumo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cuenta`
--

DROP TABLE IF EXISTS `cuenta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cuenta` (
  `ID_Cuenta` int NOT NULL AUTO_INCREMENT,
  `Numero_Mesa` int NOT NULL,
  `DPI_Mesero` varchar(13) NOT NULL,
  `Fecha_Hora_Ocupacion` datetime NOT NULL,
  `Fecha_Hora_Liberacion` datetime DEFAULT NULL,
  `Estado` enum('ABIERTA','PAGADA') DEFAULT 'ABIERTA',
  `Total_Pagar` decimal(10,2) DEFAULT '0.00',
  `Propina` decimal(10,2) DEFAULT '0.00',
  PRIMARY KEY (`ID_Cuenta`),
  KEY `Numero_Mesa` (`Numero_Mesa`),
  KEY `DPI_Mesero` (`DPI_Mesero`),
  CONSTRAINT `cuenta_ibfk_1` FOREIGN KEY (`Numero_Mesa`) REFERENCES `mesa` (`Numero_Mesa`),
  CONSTRAINT `cuenta_ibfk_2` FOREIGN KEY (`DPI_Mesero`) REFERENCES `empleado` (`DPI`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cuenta`
--

LOCK TABLES `cuenta` WRITE;
/*!40000 ALTER TABLE `cuenta` DISABLE KEYS */;
INSERT INTO `cuenta` VALUES (1,1,'1234567890123','2026-08-11 16:14:01','2026-08-11 17:26:01','PAGADA',29.00,5.00),(2,2,'1245896324785','2026-08-11 21:26:32','2026-08-11 21:29:30','PAGADA',240.00,8.00),(3,1,'1234567890123','2026-08-11 21:33:18','2026-08-11 21:34:51','PAGADA',90.00,15.00),(4,7,'1234567890123','2026-08-13 16:11:13','2026-08-13 16:15:21','PAGADA',135.00,10.00),(5,7,'1245896324785','2026-08-13 16:15:43','2026-08-13 16:25:39','PAGADA',173.00,11.00);
/*!40000 ALTER TABLE `cuenta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalle_cuenta`
--

DROP TABLE IF EXISTS `detalle_cuenta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detalle_cuenta` (
  `ID_Detalle` int NOT NULL AUTO_INCREMENT,
  `ID_Cuenta` int NOT NULL,
  `Codigo_Producto` varchar(20) NOT NULL,
  `Cantidad` int NOT NULL,
  `Subtotal` decimal(10,2) NOT NULL,
  PRIMARY KEY (`ID_Detalle`),
  KEY `ID_Cuenta` (`ID_Cuenta`),
  KEY `Codigo_Producto` (`Codigo_Producto`),
  CONSTRAINT `detalle_cuenta_ibfk_1` FOREIGN KEY (`ID_Cuenta`) REFERENCES `cuenta` (`ID_Cuenta`),
  CONSTRAINT `detalle_cuenta_ibfk_2` FOREIGN KEY (`Codigo_Producto`) REFERENCES `producto` (`Codigo_Producto`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalle_cuenta`
--

LOCK TABLES `detalle_cuenta` WRITE;
/*!40000 ALTER TABLE `detalle_cuenta` DISABLE KEYS */;
INSERT INTO `detalle_cuenta` VALUES (1,1,'7777',2,24.00),(2,2,'1111',3,45.00),(3,2,'1212',5,125.00),(4,2,'7777',1,12.00),(5,2,'1212',2,50.00),(6,3,'1212',3,75.00),(7,4,'1212',5,125.00),(8,5,'1111',10,150.00),(9,5,'7777',1,12.00);
/*!40000 ALTER TABLE `detalle_cuenta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `empleado`
--

DROP TABLE IF EXISTS `empleado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `empleado` (
  `DPI` varchar(13) NOT NULL,
  `Nombre_Completo` varchar(100) NOT NULL,
  `Correo` varchar(100) NOT NULL,
  `Rol` enum('MESERO','COCINA','BARISTA','ADMINISTRADOR') NOT NULL,
  `Jornada` enum('MATUTINA','VESPERTINA','NOCTURNA') NOT NULL,
  `Salario` decimal(10,2) NOT NULL,
  `Fecha_Contratacion` date NOT NULL,
  `Estado` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`DPI`),
  UNIQUE KEY `Correo` (`Correo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `empleado`
--

LOCK TABLES `empleado` WRITE;
/*!40000 ALTER TABLE `empleado` DISABLE KEYS */;
INSERT INTO `empleado` VALUES ('1234567890123','Juan Perez','@gmail.com','MESERO','MATUTINA',3500.50,'2026-08-08',1),('1245896324785','Maria Fernanda Perez Paz','maria11@gmail.com','MESERO','MATUTINA',3500.00,'2026-05-06',1),('1596347853214','Guillermo Emanuel Montejo Martinez','guillermo11@gmail.com','COCINA','VESPERTINA',1500.00,'2026-08-09',1),('4569852314785','Luis Ernesto Tello De Leon','luis456@gmail.com','BARISTA','NOCTURNA',3000.00,'2019-05-07',1);
/*!40000 ALTER TABLE `empleado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `insumo`
--

DROP TABLE IF EXISTS `insumo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `insumo` (
  `Codigo_Insumo` varchar(20) NOT NULL,
  `Nombre` varchar(100) NOT NULL,
  `Unidad_Medida` varchar(20) NOT NULL,
  `Stock_Actual` decimal(10,2) NOT NULL,
  `Stock_Minimo` decimal(10,2) NOT NULL,
  `Costo` decimal(10,2) NOT NULL,
  PRIMARY KEY (`Codigo_Insumo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `insumo`
--

LOCK TABLES `insumo` WRITE;
/*!40000 ALTER TABLE `insumo` DISABLE KEYS */;
/*!40000 ALTER TABLE `insumo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mesa`
--

DROP TABLE IF EXISTS `mesa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mesa` (
  `Numero_Mesa` int NOT NULL,
  `Capacidad` int NOT NULL,
  `Estado` enum('LIBRE','OCUPADA') DEFAULT 'LIBRE',
  PRIMARY KEY (`Numero_Mesa`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mesa`
--

LOCK TABLES `mesa` WRITE;
/*!40000 ALTER TABLE `mesa` DISABLE KEYS */;
INSERT INTO `mesa` VALUES (1,4,'LIBRE'),(2,5,'LIBRE'),(3,4,'LIBRE'),(4,8,'LIBRE'),(5,4,'LIBRE'),(6,8,'LIBRE'),(7,10,'LIBRE'),(8,4,'LIBRE'),(9,4,'LIBRE'),(10,5,'LIBRE');
/*!40000 ALTER TABLE `mesa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nomina`
--

DROP TABLE IF EXISTS `nomina`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nomina` (
  `Codigo_Nomina` int NOT NULL AUTO_INCREMENT,
  `DPI_Empleado` varchar(13) NOT NULL,
  `Fecha_Emision` date NOT NULL,
  `Tipo_Pago` enum('QUINCENA','FIN_DE_MES') NOT NULL,
  `Monto` decimal(10,2) NOT NULL,
  `Estado_Pago` enum('PENDIENTE','PAGADO') NOT NULL,
  PRIMARY KEY (`Codigo_Nomina`),
  KEY `DPI_Empleado` (`DPI_Empleado`),
  CONSTRAINT `nomina_ibfk_1` FOREIGN KEY (`DPI_Empleado`) REFERENCES `empleado` (`DPI`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nomina`
--

LOCK TABLES `nomina` WRITE;
/*!40000 ALTER TABLE `nomina` DISABLE KEYS */;
INSERT INTO `nomina` VALUES (1,'1234567890123','2026-08-12','QUINCENA',1050.15,'PAGADO'),(2,'1245896324785','2026-08-12','QUINCENA',1050.00,'PENDIENTE'),(3,'1596347853214','2026-08-12','QUINCENA',450.00,'PAGADO'),(4,'4569852314785','2026-08-12','QUINCENA',900.00,'PAGADO');
/*!40000 ALTER TABLE `nomina` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `producto`
--

DROP TABLE IF EXISTS `producto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `producto` (
  `Codigo_Producto` varchar(20) NOT NULL,
  `Nombre` varchar(100) NOT NULL,
  `Categoria` enum('BEBIDA_CALIENTE','BEBIDA_FRIA','POSTRE','COMIDA') NOT NULL,
  `Precio_Venta` decimal(10,2) NOT NULL,
  `Fotografia` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`Codigo_Producto`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `producto`
--

LOCK TABLES `producto` WRITE;
/*!40000 ALTER TABLE `producto` DISABLE KEYS */;
INSERT INTO `producto` VALUES ('1111','Cafe con leche','BEBIDA_CALIENTE',15.00,'imagenes_menu/Lets Meet for Coffee.jpeg'),('1212','Hamburguesa simple','BEBIDA_CALIENTE',25.00,'imagenes_menu/The Perfect Smash Burger on a Gas Griddle.jpeg'),('7777','Cafe expreso','BEBIDA_CALIENTE',12.00,'imagenes_menu/Lets Meet for Coffee.jpeg'),('9999','Producto prueba','COMIDA',10.00,'imagenes_menu/Lets Meet for Coffee.jpeg');
/*!40000 ALTER TABLE `producto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `receta`
--

DROP TABLE IF EXISTS `receta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `receta` (
  `Codigo_Producto` varchar(20) NOT NULL,
  `Codigo_Insumo` varchar(20) NOT NULL,
  `Cantidad_Necesaria` decimal(10,2) NOT NULL,
  PRIMARY KEY (`Codigo_Producto`,`Codigo_Insumo`),
  KEY `Codigo_Insumo` (`Codigo_Insumo`),
  CONSTRAINT `receta_ibfk_1` FOREIGN KEY (`Codigo_Producto`) REFERENCES `producto` (`Codigo_Producto`),
  CONSTRAINT `receta_ibfk_2` FOREIGN KEY (`Codigo_Insumo`) REFERENCES `insumo` (`Codigo_Insumo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `receta`
--

LOCK TABLES `receta` WRITE;
/*!40000 ALTER TABLE `receta` DISABLE KEYS */;
INSERT INTO `receta` VALUES ('1111','1345',0.10),('1111','5555',0.20),('1212','1212',1.00),('1212','1214',1.00),('1212','1218',0.10),('1212','1515',1.00),('1212','2222',0.10),('7777','4747',0.20),('9999','9999',5.00);
/*!40000 ALTER TABLE `receta` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-13 16:42:51
